* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:fantasy;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #2F3136;
}
.meio {
    background-color: #2F3136;
    height:600px;
}
header {
    background-color:#202225;
    display:flex;
    justify-content:space-between;
    padding:10px;
    box-shadow:0px 5px 20px #202225;
}

.menu {
    display:flex;
    list-style:none;
    align-items: center;
}
.menu a {
    color:gray;
    font-weight:lighter;
}

.menu li a {
    display:block;
    text-decoration: none ;
    margin-left:20px;
}
.menu li a:hover {
    padding: 5px;
    background-color:white;
    cursor: pointer;
    color:blue;
    font-weight:lighter;
}
.Feed img {
    display:flex;
    flex-direction: column;
    height:40px;
}

#imagem-jogador{
    padding-top: 2vh;
    display: flex;
    align-items: center;
    
}
#jogador img {
    width:50%;
}
#primeiro-fedd{
    padding-left: 20vh;

}
#info1{
    padding-top: 2vh;
    background-color: #D2D2D2;
    border-radius: 10px;
    height: 60px;
    width: 800px;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-bottom: 2vh;
    margin: 15px;
}
#info-complementar1{
    background-color: #D2D2D2;
    border-radius: 10px;
    padding-left: 2vh;
    width: 800px;
    margin: 15px;
}
#info2{
    padding-top: 2vh;
    background-color: #D2D2D2;
    border-radius: 10px;
    height: 60px;
    width: 800px;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-bottom: 2vh;
    margin: 15px;

}
#info-complementar2{
    background-color: #D2D2D2;
    border-radius: 10px;
    width: 800px;
    padding-left: 2vh;
    margin: 15px;
}
#info3{
    padding-top: 2vh;
    background-color: #D2D2D2;
    border-radius: 10px;
    height: 60px;
    width: 800px;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-bottom: 2vh;
    margin: 15px;

}
#info-complementar3{
    background-color: #D2D2D2;
    border-radius: 10px;
    width: 800px;
    padding-left: 2vh;
    margin: 15px;
}
#terceiro-fedd{
    padding-left: 20vh;
}
#info4{
    padding-top: 2vh;
    background-color: #D2D2D2;
    border-radius: 10px;
    height: 60px;
    width: 800px;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    padding-bottom: 2vh;
    margin: 15px;

}
#info-complementar4{
    background-color: #D2D2D2;
    border-radius: 10px;
    width: 800px;
    padding-left: 2vh;
    margin: 15px;
}
#quarto-feed{
    padding-left: 20vh;
}
#imagem-topo{
    padding-top: 4vh;
    padding-right: 680px;
    padding-left: 10px;
}

footer {
    height:80px;
    background-color:#202225;
}
#primeiro-elemento-feed{
    display: flex;
    align-items: center;
}
#imagem-status-segundo{
    height: 50px;

}