* {
    font-family:fantasy;
    margin:0;
}
header {
    width:100%;
    height:20vh;
}


h1 {
    font-weight:lighter;
    text-shadow: 6px 6px 8px green;
    margin-left:8%;
}

.imagem {
    margin-left:2%;
}

header {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:rgb(212, 212, 14);
    justify-content:center;
    background-color: #2F3136;
    
}
body {
    background-color: #2F3136;
}

.container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap-reverse;
}

.imagem {
    height:75vh;
    width:90vh;
}

.bloco_login {
    display:flex;
    flex-direction: column;
    margin-top:3%;
    height:65vh;
    width:80vh;
    background-color: #40444B;
    border-radius:10px;
    margin-left: 5px;
    margin-right: 5px;
}

.logotipo {
    margin-left:30%;
    margin-top:5%;
    margin-bottom:5%;
}
#e-maili {
    margin: 10px;
    width: 80%;
    height: 45px;
    background-color: #D2D2D2;
    font-size: 18px;
    border-radius: 30px;
    position: relative;
    border:solid 5px gray;
    margin-left: 8%;
    margin-bottom:15px;
}

#senhai {
    background-color: #D2D2D2;
    font-size: 18px;
    margin-left: 8%;
    width: 80%;
    height: 45px;
    border-radius: 30px;
    position: relative;
    border:solid 5px gray;
    margin-bottom:20px;
}

#botão-entrar {
      background-color: #D2D2D2;
        margin-left:  12%;
        margin-right:  15px;
        margin-top:15px;
        margin-bottom:3%;
        width: 75%;
        height: 30px;
        border-radius: 30px;
}

#botão-registrar {
    background-color: #D2D2D2;
    margin-left: 12%;
    width: 75%;
    height: 30px;
    border-radius: 30px;
}

#botão-entrar:hover {
    cursor: pointer;
    background-color:rgb(6, 59, 6);
    color:yellow;
}

#botão-registrar:hover {
    cursor: pointer;
    background-color:rgb(6, 59, 6);
    color:yellow;
}