body{
 background-color: #2F3136;   
}
#imagem-topo{
    padding-top: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#caixa{
    background-color: #40444B;
    width: 80%;
    text-align: center;
    border: 5px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
    height:500px;
}
#apelido{
    margin: 5px;
    border-radius: 30px;
    width: 70%;
    height: 40px;
    border:solid 5px gray;
}
#idade{
    margin: 5px;
    border-radius: 30px;
    width: 70%;
    height: 40px;
    border:solid 5px gray;
}
#posição{
    margin: 5px;
    border-radius: 30px;
    width: 70%;
    height: 50px;
    border:solid 5px gray;
}
#time{
    margin: 5px;
    border-radius: 30px;
    width: 70%;
    height: 40px;
    border:solid 5px gray;
}
#cidade{
    margin: 5px;
    border-radius: 30px;
    width: 70%;
    height: 40px;
    border:solid 5px gray;
}
#endereço{
    margin: 5px;
    border-radius: 30px;
    width: 70%;
    height: 40px;
    border:solid 5px gray;
}
.botao  {
    height:20px;
    margin-top:0.75%;
    width:250px;
}

.botao a {
    text-decoration:none;
    width:100%;
}

.botao:hover {
    cursor: pointer;
    background-color:rgb(6, 59, 6);
    color:yellow;
}

