* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:fantasy;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #2F3136;
}

header {
    background-color:#202225;
    display:flex;
    justify-content:space-between;
    padding:10px;
    box-shadow:0px 5px 20px #202225;
}

.menu {
    display:flex;
    list-style:none;
    align-items: center;
}

.menu a {
    color:gray;
    font-weight:lighter;
}

.menu li a {
    display:block;
    text-decoration: none ;
    margin-left:20px;
}
.menu li a:hover {
    padding: 5px;
    background-color:white;
    cursor: pointer;
    color:blue;
    font-weight:lighter;
}
.Feed img {
    display:flex;
    flex-direction: column;
    height:40px;
}
.meio {
    display:flex;
    flex-wrap: wrap;
}
.estatiscas {
    background-color:#40444B;
    min-height:130px;
    min-width:350px;
    margin-top:20px;
    border-radius:10px;
    display:flex;
    margin-left:10px;

}
.estatiscas img {
    padding: 10px;
}
.estatiscas a {
    display:flex;
    flex-direction: column;
    font-size:20px;
    margin-top:2px;
    margin-left:55px;
}
.texto {
    padding:30px;
}
.posição_1 {
    display:flex;
    background-color:#40444B;
    height:245px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding: 20px;
    margin-left:10px ;
    margin-top:5px;
}
.posição_1 img{
    height:140px;
}
.posição_1 a {
    display:flex;
    flex-direction: column;
    margin-left:105px ;
    font-size:40px;
    margin-top:20px;
}
.posição_2 {
    display:flex;
    background-color:#40444B;
    height:245px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding: 20px;
    margin-left:10px ;
}
.posição_2 img{
    height:140px;
}
.posição_2 a {
    display:flex;
    flex-direction: column;
    margin-left:105px ;
    font-size:30px;
    margin-top:20px;
}

.seu_time {
    display:flex;
    padding:10px;
    background-color:#40444B;
    height:90%;
    width:50%;
    min-width:440px;
    margin-top:9%;
    border-radius:10px;
    margin-left:3%;
    margin-right:5px;
    font-size:35px;
    flex-direction: column;
}
.modo_claro_ou_escuro {
    height:80px;
}
.estrelas {
    margin-left:3%;
    height:10%;
    width:100%;
}
.estrelas a {
    margin-left:5%;
}

.timao {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;
}

.timao img {
    height:90%;
    width:60%;
    margin-top:7%;
}

footer {
    background-color:#202225;
    height:40px;
    font-size: large;
    margin-top:50px;
}