* {
    font-family:fantasy;
}

h1 {
    font-weight:lighter;
    text-shadow: 6px 6px 8px green;
}
body{
    background-color: #2F3136;
}
header{
    position: absolute;
    background-color: black; 
    height: 20px;
}
#bloco-de-login{ 
    margin-top:11%;
    background-color: #40444B;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
}
    #e-maili{
        margin: 10px;
        width: 80%;
        height: 45px;
        background-color: #D2D2D2;
        font-size: 18px;
        border-radius: 30px;
        position: relative;
        border:solid 5px gray;
    }
    #senhai{
        background-color: #D2D2D2;
        font-size: 18px;
        margin: 10px;
        width: 80%;
        height: 45px;
        border-radius: 30px;
        position: relative;
        border:solid 5px gray;
    }
    #imagem-do-topo{
        padding-top: 3vh; 
        padding-bottom: 2vh;
    }
    #email{
       
        top:295px;
        left: 65%;
    }
    #senhaii{
       
        top:365px;
        left: 65%;
    }
    #botão-entrar{
        background-color: #D2D2D2;
        margin-left:  15px;
        margin-right:  15px;
        margin-top:15px;
        width: 80%;
        height: 30px;
        border-radius: 30px;
        
    }
    #botão-entrar:hover {
        cursor: pointer;
        background-color:rgb(6, 59, 6);
        color:yellow;
    }
    #botão-registrar{
        background-color: #D2D2D2;
        margin: 15px;
        width: 80%;
        height: 30px;
        border-radius: 30px;
    }
    #botão-registrar:hover {
        cursor: pointer;
        background-color:rgb(6, 59, 6);
        color:yellow;
    }
    #botoes{
        display: flex;
        flex-direction: column;
    }
.container {
    display:flex;
    flex-wrap: wrap;
    color:rgb(212, 212, 14)
}

.animation {
    height:200px;
    border-radius:10px;
    margin-left:100px;
}

.animation img {
    height:500px;
    max-width:500px;
}

