* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:fantasy;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #2F3136;
}
.meio {
    height:100%;
    background-color: #2F3136;
}
header {
    background-color:#202225;
    display:flex;
    justify-content:space-between;
    padding:10px;
    box-shadow:0px 5px 20px #202225;
}

.menu {
    display:flex;
    list-style:none;
    align-items: center;
}
.menu a {
    color:gray;
    font-weight:lighter;
}
.menu li a {
    display:block;
    text-decoration: none ;
    margin-left:20px;
}
.menu li a:hover {
    padding: 5px;
    background-color:white;
    cursor: pointer;
    color:blue;
    font-weight:lighter;
}
.Feed img {
    display:flex;
    flex-direction: column;
    height:40px;
}
#lista-jogadores1{
    background-color: #D2D2D2;
    border-radius: 10px;
    margin: 8px;
    height: 210px;
    width: 250px;
}

#lista-jogadores2{
    background-color: #D2D2D2;
    border-radius: 10px;
    margin: 8px;
    height: 210px;
    width: 250px;
}
#listas{
    display: inline-block;
}
#imagem-campo{
    padding-left: 130px;
    width: 550px;
    padding-bottom: 10px;
}
#imagem-chat{
    padding-left: 130px;
    padding-bottom: 50px;
    width: 200px;
    height:50%;
    width:30%;
}

#botão-sair{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin: 8px;
    font-style:none;
}

#botão-confirmamar{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin: 8px;
    font-style:none;
    
    
}
#botão-sair:hover {
    background-color:rgb(6, 59, 6);
    color:yellow;
}



footer {
    background-color:#202225;
    height:40px;
    font-size: large;
    margin-top:50px;
}